<ion-card>
  <ion-item>
    <ion-badge color="secondary" slot="end">{{ item.notification }}</ion-badge>
    <ion-label class="card-container">
      <ion-card-header class="card-header">
        <ion-card-subtitle class="user-location">{{
          item.city
        }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="card-content">
        <div class="img-container">
          <img src="{{ item.picture }}" />
        </div>
        <div class="next-to-img">
          <ion-card-title class="user-name">{{ item.name }}</ion-card-title>
          {{ item.message }}
        </div>
      </ion-card-content>
    </ion-label>
  </ion-item>
</ion-card>
